timeline {
  display: flex;

  flex-flow: row;

  .thumbnail-video {
    display: none;
  }

  .thumbnail {
    position: relative;

    width: 20%;

    max-height: inherit;

    flex: 1 1 auto;

    &.pending {
      .overlay {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    &.zero {
      .time-offset {
        left: 50%;
      }
    }

    &.positive {
      .time-offset {
        right: 0;

        &:before {
          content: "+";
        }
      }
    }

    canvas {
      width: 100%;
    }

    .overlay {
      position: absolute;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      cursor: pointer;

      &:hover {
        .remove-thumbnail {
          display: block;

          &:hover {
            text-shadow: 0px 0px 4px #000;
          }
        }

        .add-thumbnail {
          display: block;

          &:hover {
            text-shadow: 0px 0px 4px #000;
          }
        }
      }

      >* {
        position: absolute;
      }

      .time-offset {
        bottom: 0;

        font-size: 0.65em;

        cursor: text;
      }

      .remove-thumbnail {
        display: none;

        left: 0;
        top: 0;

        padding-left: 0.2em;
        padding-right: 0.5em;

        font-size: 2vw;

        cursor: pointer;
      }

      .add-thumbnail {
        display: none;

        right: 0;
        top: 0;

        padding-right: 0.2em;
        padding-left: 0.5em;

        font-size: 2vw;

        cursor: pointer;
      }
    }
  }
}