timeline {
  display: flex;

  flex-flow: row;

  .thumbnail-video {
    display: none;
  }

  .canvas-wrapper {
    position: relative;

    width: 20%;

    flex: 1 1 auto;

    align-self: center;

    canvas {
      width: 100%;

    }

    .time-offset {
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;

      font-size: 0.65em;

      &.zero {
        text-align: center;
      }

      &.positive {
        span {
          right: 0;
        }

        text-align: right;

        &:before {
          content: "+";
        }
      }
    }
  }
}