timeline {
  display: flex;

  flex-flow: row;

  .thumbnail-video {
    display: none;
  }

  .thumbnail {
    position: relative;

    width: 20%;

    flex: 1 1 auto;

    align-self: center;

    canvas {
      width: 100%;

    }

    .overlay {
      position: absolute;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      cursor: pointer;

      &:hover {
        .remove-thumbnail {
          display: block;
        }

        .add-thumbnail {
          display: block;
        }
      }

      >* {
        position: absolute;
      }

      .time-offset {
        left: 0;
        bottom: 0;

        width: 100%;

        font-size: 0.65em;

        &.zero {
          text-align: center;
        }

        &.positive {
          .offset {
            right: 0;
          }

          text-align: right;

          &:before {
            content: "+";
          }
        }
      }

      .remove-thumbnail {
        display: none;

        left: 0;
        top: 0;

        cursor: pointer;
      }

      .add-thumbnail {
        display: none;

        right: 0;
        top: 0;

        cursor: pointer;
      }
    }
  }
}