<video ng-src="{{video.src}}" class="thumbnail-video"></video>
<div ng-repeat="thumbnail in thumbnails track by $index"
     class="thumbnail">
  <canvas width="0" height="0"></canvas>
  <div class="overlay" ng-click="gotoThumbnail(thumbnail)" title="Jump {{thumbnail.offset}}s">
    <div ng-class="{
                   'time-offset': true,
                   'zero': thumbnail.offset == 0,
                   positive: !(thumbnail.offset <= 0)
                  }">
      <span contenteditable editable-type="{type: 'int', defualt: 0}" class="offset" ng-model="thumbnail.offset" title="Edit Offset"></span>
    </div>
    <span class="remove-thumbnail" ng-click="removeThumbnail($index)" title="Remove Thumbnail">-</span>
    <span class="add-thumbnail" ng-click="insertThumbnail($index)" title="Add Thumbnail">+</span>
  </div>
</div>