<video ng-src="{{video.src}}" class="thumbnail-video"></video>
<div ng-repeat="thumbnail in thumbnails track by $index"
     ng-class="{
                thumbnail: true,
                pending: thumbnail.pending,
                'zero': thumbnail.offset == 0,
                positive: !(thumbnail.offset <= 0)
               }">
  <canvas width="0" height="0"></canvas>
  <div class="overlay" ng-click="gotoThumbnail(thumbnail)" title="Jump {{thumbnail.offset}}s">
    <div class="remove-thumbnail" ng-click="removeThumbnail($index)" title="Remove Thumbnail">-</div>
    <div class="add-thumbnail" ng-click="insertThumbnail($index)" title="Add Thumbnail">+</div>
    <div class="time-offset" contenteditable editable-type="{type: 'int', defualt: 0}" ng-model="thumbnail.offset" title="Edit Offset" ng-change="offsetChanged(thumbnail)"></div>
  </div>
</div>
<div class="hide-timeline" ng-click="hideTimeline = !hideTimeline">Hide Timeline</div>