@keyframes appear {
  0% {
    max-width: 20%;
  }
  100% {
    max-width: 100%;
  }
}

playback-surface {
  display: flex;

  video {
    max-width: 100%;

    flex: 1;

    animation: appear 0.5s ease-in;
  }

  .controls {
    position: absolute;

    color: #fff;
  }

  .teaser {
    color: #fff;

    flex: 1;

    align-self: center;

    text-align: center;
  }
}