<div ng-if="!video.loaded" class="loading">Loading video...</div>

<html5-video ng-if="!video.external" video="video"></html5-video>

<iframe
      ng-if="video.external"
      ng-src="{{video.src}}"></iframe>



<div
    class="overlay"
    ng-click="togglePlay()">
  <!-- <audio-panel></audio-panel> -->
  <transforms-panel ng-click="$event.stopPropagation()"></transforms-panel>
  <div class="playback-rate">
    <span class="rate" contenteditable ng-model="video.playbackRate" ng-change="setPlaybackRate(video.playbackRate)" ng-click="$event.stopPropagation()" title="Playback Rate"></span>
    <span class="x" ng-click="setPlaybackRate(1); $event.stopPropagation()" title="Click to reset to 1.0">X</span>
  </div>
</div>
