@keyframes blow-up {
  0% {
    font-size: 0em;
  }
  100% {
    font-size: 1em;
  }
}

@keyframes fill {
  0% {
    font-size: 1vw;
    transform: scale(0) rotateZ(0deg) rotateX(0deg);
  }
  66.6% {
    font-size: 7vw;
    transform: scale(4) rotateZ(720deg) rotateX(0deg);
  }
  93% {
    font-size: 7vw;
    transform: scale(4) rotateZ(720deg) rotateX(0deg);
  }
  100% {
    font-size: 0vw;
    transform: scale(0) rotateZ(0deg) rotateX(720deg);
  }
}

editor {
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;

  overflow: hidden;

  display: flex;

  justify-content: center;
  align-content: center;

  .has-video {
    display: flex;
    flex-flow: column;

    flex: 1 1 auto;

    .divider {
      width: 100%;

      display: flex;
      flex-flow: row;

      flex: 1 1 auto;

      playback-surface {
        flex: 1 1 auto;
      }

      filters-panel {
        flex: 1 0 auto;
      }
    }

    position-bar {
      flex: 1 0 auto;
    }

    timeline {
      max-height: 30%;

      width: 100%;

      flex: 0 0 auto;
      align-self: center;

      display: flex;
    }
  }

  .teaser {
    color: #fff;

    flex: 1;

    align-self: center;

    text-align: center;

    >span {
      display: block;
      margin: 1em;
    }

    .drop {
      animation: blow-up 1s 0.15s linear;
      animation-fill-mode: both;
    }

    .click {
      animation: blow-up 1s 3.15s linear;
      animation-fill-mode: both;
    }

    .paste {
      animation: blow-up 1s 5.15s linear;
      animation-fill-mode: both;
    }

    .anywhere {
      animation: fill 4s 7.15s cubic-bezier(1, 0, 0, 1);
      animation-fill-mode: both;
    }
  }
}