@keyframes blow-up {
  0% {
    font-size: 0em;
  }
  100% {
    font-size: 1em;
  }
}

@keyframes fill {
  0% {
    font-size: 0vw;
    transform: rotateZ(0deg) rotateX(0deg);
  }
  66.6% {
    font-size: 12vw;
    transform: rotateZ(720deg) rotateX(0deg);
  }
  93% {
    font-size: 12vw;
    transform: rotateZ(720deg) rotateX(0deg);
  }
  100% {
    font-size: 0vw;
    transform: rotateZ(0deg) rotateX(1080deg);
  }
}

editor {
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;

  overflow: hidden;

  display: flex;

  playback-error {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
  }

  teaser {
    height: 100%;
    width: 100%;

    flex: 1 1 auto;

    align-self: center;
  }

  video-control {
    flex: 1 1 auto;
  }

  .has-video {
    display: flex;
    flex-flow: column;

    flex: 1 1 auto;

    .divider {
      position: relative;

      width: 100%;

      display: flex;
      flex-flow: row;

      flex: 1 1 auto;

      playback-surface {
        flex: 1 1 auto;
      }

      filters-panel {
        flex: 0 0 auto;
      }
    }

    // Why Mozilla? Why?
    @-moz-document url-prefix() {
      .divider {
        height: 70%;
      }
    }

    // Et tu, mS?
    @media all and (-ms-high-contrast: none) {
      .divider {
        height: 70%;
      }
    }
    // Probably should just detect browser on load and apply class to body/html element

    audio-panel {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    position-bar {
      flex: 0 0 auto;
    }

    timeline {
      max-height: 30%;

      width: 100%;

      flex: 0 0 auto;

      display: flex;
    }
  }
}