<div ng-if="video.src != null"
     ng-show="video.success"
     class="has-video">
  <div class="divider">
    <playback-surface></playback-surface>
    <filters-panel ng-hide="hideFilters"></filters-panel>
  </div>
  <position-bar></position-bar>
  <timeline ng-hide="hideTimeline"></timeline>
</div>
<div ng-if="video.error != null" class="video-error">
  Sorry, your browser doesn't support that video!
  {{videoError}}
</div>
<teaser ng-if="video.src == null" ng-click="teaserClicked()"></teaser>