filters-panel {
  padding-left: 1vw;
  padding-right: 1vw;

  overflow: auto;

  font-size: 1em;

  .header {
    padding: 0.25em 0;

    font-size: 1.5em;
  }

  table {
    border-spacing: 0px;

    font-size: 0.75em;

    td {
      padding-bottom: 0.2vw;
    }

    .name {
      padding-right: 2vw;
    }

    .value {
      input {
        width: 5em;

        color: #fff;

        background-color: transparent;
        border: none;

        text-align: right;
      }
    }

    .unit {
      font-size: 0.65em;
    }
  }

  .reset {
    padding-top: 2vw;
    padding-left: 2vw;

    font-size: 0.9em;

    cursor: pointer;
  }
}