position-bar {
  width: 100%;

  background-color: #999;

  .bar {
    width: 0;
    height: 0.33em;
    line-height: 0.33em;

    text-align: right;

    background-color: #666;
    color: #fff;

    transition: height 0.25s linear, line-height 0.25s linear;

    .time {
      font-size: 0.33em;

      transition: font-size 0.25s linear;
    }
  }

  &:hover, &.pinned {

    .bar {
      height: 1.25em;
      line-height: 1.25em;

      transition: height 0.25s linear, line-height 0.25s linear;
    }

    .time {
      font-size: 1em;

      transition: font-size 0.25s linear;
    }
  }
}