<div class="surface-overlay"></div>
<div class="commands">
  <svg class="pin" width="100" height="50">
    <text x="0" y="15" fill="green">Testing</text>
  </svg>
  <div class="pin" ng-click="pinned = !pinned; $event.stopPropagation()">{{pinned ? 'pinned' : 'pin'}}</div>
  <div class="swap-direction" ng-click="swapDirection = !swapDirection; $event.stopPropagation()">swap direction</div>
</div>
<div class="bar" style="width:{{currentPercent}}%;"><span class="time current-time">{{currentTime}}</span><span class="time remaining-time">{{remainingTime}}</span></div>