hello-world {
  border: solid 1px #f00;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  color: #ff0;
  animation: spin 5s linear 0s infinite;
}